@import 'tailwindcss';

@theme {
	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@custom-variant hover (&:hover);

@layer {
	label,
	summary {
		cursor: pointer;
	}

	kbd {
		text-decoration: underline;
	}
}
